.button {
  border-radius: $radius;
  font-weight: 700;
  letter-spacing: 0.02rem;
  display: inline-block;
  box-shadow: $box-shadow;
  border-color: white;
  height: auto !important;

  &.is-small {
    line-height: 1.2;
    border-radius: $radius;
    border: $base-border;
  }

  &.is-bordered {
    border: 3px solid $black;
  }
}

.wp-block-button__link {
  @extend .button;

  background-color: $primary;

  // border-color: $black;
  border: 2px solid $black;
  font-size: 1.1rem;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: $black;
  }

  &:active,
  &:focus,
  &:hover {
    border-color: $black;
  }
}
