@font-face {
  font-family: "Corporative Soft";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url("../../fonts/corporativesoft-bold.woff2") format("woff2"),
    url("../../fonts/corporativesoft-bold.woff") format("woff");
}
